/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

:target {
    scroll-margin-block: 5ex;
}

/* --- */

body {
    /* background-color: hsl(210, 73%, 94%); */
    background-color: hsl(51, 52%, 95%);
    font-family: "Faculty Glyphic", sans-serif;
}

.quote-box {
    width: 44rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.25rem;
    text-align: center;
}

.quote-box blockquote {
    font-size: 1.5rem;
    min-height: auto;
    color: rgb(70, 70, 70);
    padding-bottom: 0rem;
}   

.quote-box span {
    display: block;
    margin-top: 1rem;
    /* float: right; */
    float: center;
    position: relative;
}

/* .quote-box span::before {
    content: '';
    width: 1rem;
    height: 0.1rem;
    background-color: hsl(240, 100%, 50%);
    position: absolute;
    float: left;
    top: 50%;
    left: 16.5rem;
} */

#author {
    font-style: italic;
    color: rgb(95, 95, 95);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(0, 0%, 8%);
        color: #f0f0f0;
    }
    .quote-box blockquote {
        color: #e0e0e0;
    }
    .quote-box span::after {
        background-color: hsl(221, 100%, 77%);
    }
    #author {
        color: rgb(210, 210, 210);
    }
}